.ipodjs {
  .menu-link,
  .forward-link,
  .backward-link,
  .play-link,
  .select-link {
    position: absolute;
    font-size: 0;
  
    img {
      width: 100%;
      height: 100%;
      @include imgControls();
    }
  }
  
  .menu-link {
    left: 37.53%;
    top: 56%;
    width: 18.87%;
    height: 3.529%;
  
    & img {
      background-position: 0 0;
      background-size: 443%;
    }
    
    &:hover img,
    &:focus img {
      background-position: -62% 0;
    }
  }
  
  .backward-link {
    left: 19.55%;
    top: 68.23%;
    width: 11.91%;
    height: 4.559%;
  
    & img {
      background-position: 0 -105%;
      background-size: 710%;
    }
    
    &:hover img,
    &:focus img {
      background-position: -55.72% -105%;
    }
  }
  
  .forward-link {
    left: 67.19%;
    top: 70.59%;
    width: 11.01%;
    height: 3.97%;
  
    & img {
      background-position: -96.5% -98.5%;
      background-size: 780%;
    }
    
    &:hover img,
    &:focus img {
      background-position: -36.85% -98.5%;
    }
  }
  
  .play-link {
    left: 39.77%;
    top: 84.85%;
    width: 14.157%;
    height: 4.559%;
  
    & img {
      background-position: -83.45% -104.3%;
      background-size: 586%;
    }
    
    &:hover img,
    &:focus img {
      background-position: -20.54% -104.3%;
    }
  }
  
  
  .select-link {
    top: 64.7%;
    left: 38.87%;
    height: 12.795%;
    width: 20%;
  
    & img {
      background-position: 28% 87%;
      background-size: 422%;
    }
    
    &:hover img,
    &:focus img {
      background-position: 72.5% 99%; 
    }
  }
}
