.ipodjs {
  position: relative;
  width: 445px;
  height: 680px;
  text-align: left;
  color: black;
  @include imgiPod();

  &.playing .top-bar:after,
  &.paused .top-bar:after {
    background-size: 3138%;
  }

  &.playing .top-bar:after {
    background-position: 13.7% -72%;
  }

  &.paused .top-bar:after {
    background-position: 17.7% -72%;
  }
}
