.ipodjs {
  .playview {
    .container {
      margin: .740em 0.592em 0 0.592em;
      display: flex;
    
      .artwork {
        height: 4.8148em;
        width: 4.8148em;
        min-width: 4.8148em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      
      .track-titles {
        overflow: hidden;
        margin-left: .444em;
        height: 100%;
        font-weight: bold;
    
        .track-titles-list {
          list-style: none;
          margin: 0;
          padding: .740em 0 0 0;
        
          .track-titles-list-item {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          
          .track-titles-list-item.big {
            font-size: 0.59259em;
            margin: 0 0 0.4em;
          }
          
          .track-titles-list-item.small {
            color: #5D5D5D;
            font-size: 0.444em;
            line-height: 1.7em;
          }
          
          .track-titles-list-item.index {
            font-size: 0.444em;
            line-height: 1.7em;
          }
        }
      }
    }
    
    .timebox {
      text-align: center;
      font-family: Helvetica;
      font-weight: bold;
    
      padding: 2.9166em 0 0 0;
      font-size: .4444em;
      line-height: 1.16667em;
    
      .progress-container {
        display: inline-block;
        background-image: linear-gradient(to bottom, #FFFFFF 35%, #E9E9E9 48%, #E9E9E9 55%, #FFFFFF 100%);
        border: 1px solid #E2E2E2;
        vertical-align: middle;
        margin: 0 .5em;
        width: 59.7%;
        height: 1.166666em;
        
        .progress-bar {
          width: 31%;
          height: 100%;
          background-image: linear-gradient(to bottom, #84A1DC 0%, #70AAFF 17%, #70AAFF 35%, #3C9CF4 47%, #3C9CF4 55%, #58C8F5 85%);
        }
      }
    }    
  }
}
