.ipodjs {
  .screen {
    width: 76.404%;
    height: 35.294%;
    border: 6px solid black;
    font-family: Helvetica;
    position: relative;
    overflow: hidden;
    background-color: white;
    display: inline-block;
    left: 10%;
    top: 8%;
  
    .top-bar {
      font-size: .444em;
      height: 1.6667em;
      background-image: linear-gradient(to bottom, #FFFFFF 30%, #ACAFB1 82%, #85898C 100%);
      border-color: #6F7072;
      border-width: 0 0 1px 0;
      line-height: 1.6667em;
      padding: 0 .83333em;
      font-weight: bold;
      position: absolute;
      width: 100%;
      box-sizing: border-box;
    
      &:before,
      &:after {
        content: '';
        float: right;
        width: 100%;
        height: 100%;
        @include imgControls();
      }
      
      &:before {
        background-size: 1368%;
        background-position: 6.4% 43%;
        top: .583em;
        width: 2.25em;
      }
      
      &:after {
        width: 1em;
        margin-right: .5em;
        background-position: 0 -108px;
      }
    }
    
    .screen-container {
      width: 300%; 
      height: 100%; 
      position: relative;
      padding-top: 0.7407em;
      box-sizing: border-box;
    }
  }
}
