.screen {
  width: 340px;
  height: 240px;
  border: 1px solid black;
  font-family: Helvetica;
  position: relative;
  overflow: hidden;
}

.top-bar {
  height: 20px;
  background-image: linear-gradient(to bottom, #FFFFFF 30%, #ACAFB1 82%, #85898C 100%);
  border-color: 1px solid #6F7072;
  border-width: 0 0 1px 0;
  line-height: 20px;
  padding: 0 10px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.container {
  width: 300%; 
  height: 100%; 
  position: relative;
  padding-top: 20px;
  box-sizing: border-box;
}

.panel {
  width: 33.333%; 
  height: 100%; 
  display: inline-block; 
  float: left;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

