.playlist {
  border-bottom: 1px solid #E2E2E2; 
  font-size: 0.5185em;
}

.link:after,
.playlist.playing .link:after,
.playlist.playing .link:hover:after {
  background-size: 2060%;
}

.playlist.playing .link:after {
  background-position: -0.4% 168.2%;
}

.playlist.playing .link:hover:after {
  background-position: -0.4% 179.7%;
}

.link {
  position: relative;
  display: block;
  height: 20%;
  padding: .5em .857em;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

.link:before,
.link:after {
  position: absolute;
  display: inline-block;
  top: 50%;
  background-image: url('../img/ipodjs-controls.png');
  background-image: -webkit-image-set(
    url('../img/ipodjs-controls.png') 1x,
    url('../img/ipodjs-controls@1.5x.png') 1.5x,
    url('../img/ipodjs-controls@2x.png') 2x,
    url('../img/ipodjs-controls@2.5x.png') 2.5x
  );
  background-image: image-set(
    url('../img/ipodjs-controls.png') 1x,
    url('../img/ipodjs-controls@1.5x.png') 1.5x,
    url('../img/ipodjs-controls@2x.png') 2x,
    url('../img/ipodjs-controls@2.5x.png') 2.5x
  );
}

.link:after {
  content: '';
  width: 1.214em;
  height: 1em;
  right: 0;
  margin-top: -.5em;
  margin-right: .357em;
  background-position: -.6% 200.7%;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title,
.subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  font-weight: bold;
}

.subtitle {
  font-weight: lighter;
  font-size: 0.75em;
  margin-top: 0.4em;
}

.link:hover,
.link:active,
.link:focus {
  color: white;
  background-image: linear-gradient(to bottom, #56A0D6 0%,  #326BC2 100%);
}