.playlist {
  border-bottom: 1px solid #E2E2E2; 
  font-size: 14px;
}

.link {
  position: relative;
  display: block;
  height: 20%;
  padding: 7px 12px;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

.link:after {
  content: '';
  width: 17px;
  height: 14px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  margin-right: 5px;
  background-position: 2px -128px;
  background-image: url('../img/ipodjs-controls.png');
  background-image: -webkit-image-set(
    url('../img/ipodjs-controls.png') 1x,
    url('../img/ipodjs-controls@1.5x.png') 1.5x,
    url('../img/ipodjs-controls@2x.png') 2x,
    url('../img/ipodjs-controls@2.5x.png') 2.5x
  );
  background-image: image-set(
    url('../img/ipodjs-controls.png') 1x,
    url('../img/ipodjs-controls@1.5x.png') 1.5x,
    url('../img/ipodjs-controls@2x.png') 2x,
    url('../img/ipodjs-controls@2.5x.png') 2.5x
  );
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  font-weight: bold;
  line-height: 1em;
}

.subtitle {
  font-weight: lighter;
  font-size: 0.75em;
  line-height: 0.5em;
}

.link:hover,
.link:active,
.link:focus {
  color: white;
  background-image: linear-gradient(to bottom, #56A0D6 0%,  #326BC2 100%);
}